body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.editor {
  height: 60vh;
}

.popup {
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  width: 26%;
  position: absolute;
  transition: all 5s ease-in-out;
  visibility: visible;
  border-color: black;
  opacity: .7;
  padding: 5px;
  text-align: center;
  height: 3.2%
}

/* .popup.active {
  visibility: visible;
} */
